<div class="login-container">
  <div class="login-card">
    <h2>Welcome Back</h2>
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" required #usernameModel="ngModel" placeholder="Username? ">
        <div class="error" *ngIf="usernameModel.invalid && usernameModel.touched">
          <small *ngIf="usernameModel.errors?.['required']">username is required.</small>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required minlength="6" #passwordModel="ngModel" placeholder="Enter your password">
        <div class="error" *ngIf="passwordModel.invalid && passwordModel.touched">
          <small *ngIf="passwordModel.errors?.['required']">Password is required.</small>
          <small *ngIf="passwordModel.errors?.['minlength']">Password must be at least 6 characters.</small>
        </div>
      </div>

      <button type="submit" [disabled]="loginForm.invalid" class="login-button">Login</button>
    </form>

    <div class="links">
      <!-- Links to navigate to the signup and forgotten password components -->
      <a routerLink="/signup">Don't have an account? Sign up</a>
      <a routerLink="/forgottenpass">Forgot your password?</a>
    </div>
  </div>
</div>
